body {
    font-family: "Poppins", Geneva, Tahoma, sans-serif
}

img {
    border-radius: 20px;
}

/* --- Class CSS --- */

.about-author {
    color:rgb(172, 122, 48);
}

.author {
    text-align:center;
    padding: 10px;
    
}

.cardbody {
    padding: 10px 0px;
}

.textos {
    padding: 0px 10px 10px 10px;
}

.test:hover {
    filter: drop-shadow(2px 2px 4px #cccccc);
    transition: filter 50ms linear 50ms;
}

.nb-stuff {
    background-color: #784e1d;
    
}

.nb-stuff:hover {
    filter: drop-shadow(1px 1px 1px #cbb7a0);
    transition: filter 50ms linear 50ms;
}

.showcase {
    background-color: rgb(172, 122, 48);
}

.overview-font {
    font-size: 1em;
}

.row-extra {
    border-top: solid 2px white;
    margin: 0;
}

.icon-white {
    color: #000;
}

.row-thing {
    background-color: #dec099;
    border-radius: 20px;
    margin: 15px 0px;
}

.row-thing:hover {
    filter: drop-shadow(2px 2px 2px #bbbbbb);
    transition: filter 150ms ease-in 10ms;
}

.col-sm-5.p-3 img {
    border: 2px solid #cccccc;
}

.border {
    border-radius: 20px;
    background-color: #e6e6e6;
}

#showcase2 {
    background-color: rgb(132, 82, 8);
}

/* --- ID CSS --- */

#ovPadLeft {
    padding-left: 20px;
}

#ovPadRight {
    padding-right: 20px;
}

#img-thing {
    margin: 0;
}

div#about {
    margin: auto;
}

#procedure-block {
    padding: 20px 0px;
}

/* --- Underline Animation CSS --- */

.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

#navmenu ul li {
    padding: 0px 20px;
}

/* CSS Stuff */

/* ----------------- Class CSS ----------------- */
.headerBG{
    background-color: #e6e6e6;
}

.footerBG{
    background-color: #e6e6e6;
}

.ordered-List-item-font{
    font-size:22px;
}
.overview-font{
    font-size:min(calc(0.03 * 100vw), 20px);
}

.signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nbMenuItem{
    font-size:25px;
    padding-right: 20px;
    padding-left: 20px;
}

/* ----------------- ID CSS ----------------- */

/* ----------------- scroll bar CSS ----------------- */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 3px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgb(172, 122, 48);  
}
::-webkit-scrollbar-thumb:window-inactive {
 background: rgb(172, 122, 48); 